@import 'normalize.css';

:root {
  --primary-text-color: #888888;
  --secondary-text-color: #000000;
}

* {
  box-sizing: border-box;
}

html, body, #root{
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  height: 100%;
}
